# Auto detect text files and perform LF normalization
* text=auto
*.sql linguist-detectable=true  
*.cvs linguist-detectable=true 
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false    

